%footer.footer
  .container
    -#%p.text-muted Place sticky footer content here.
    -#= link_to "關於作者", "#"
    -#= link_to "關於本站", "#"
%ul.nav.pull-left.scroll-top
  %li
    %a{:href => "#"}
      %i.glyphicon.glyphicon-chevron-up

