.navbar.navbar-default{:role => "navigation"}
  .container
    .navbar-header
      %button.navbar-toggle{"data-target" => ".navbar-collapse", "data-toggle" => "collapse", :type => "button"}
        %span.sr-only Toggle navigation
        %span.icon-bar
        %span.icon-bar
        %span.icon-bar
      %a.navbar-brand{:href => "#"} 成大選課小幫手
    .navbar-collapse.collapse
      %ul.nav.navbar-nav.navbar-left
        %li
          = link_to "清除系級設定", "#"
      %ul.nav.navbar-nav.navbar-right
        %li
          = link_to "回報問題"
        %li
          = link_to "關於本站"
        %li
          = link_to "關於作者"
    / /.nav-collapse
