.container
  .well
    %h2 關於本站
    %div
      %p.lead
        「成大選課小幫手」嘗試解決的是，每次新學期要選課時，
        用學校的課程查詢系統找課、排課，對某些人（或者至少對我）
        來說是個有點麻煩的過程，只不過想找自己想修的課而已，
        卻得在好幾個分頁之間跳來跳去、用肉眼過濾資訊，
        實在是有點費事...
      %p.lead
        我大一大二的時候只有想法，沒有技術，只能紙上談兵，
        最近一年多到資訊系修課、自學 Rails ，終於可以實際動手解決這個我耿耿於懷已久的問題
      %p.lead
        但是，懂技術之後發現，因為我並不是學校負責選課和課程網站的人員，
        我沒有取得同學修課歷史資料的權限，所以無法達成我心目中最理想的解決方案
      %p.lead
        理想上，如果我知道一個同學過去修了哪些課、還有他的系的畢業規定，
        那我就能在網站上直接列出他還要修哪些通識課、多少選修課，以達成畢業要求
      %p.lead
        理想方案雖然無法實現，但找課的過程依然可以改善，學校課程查詢系統的篩選功能，
        有改進的空間，所以這個網站就誕生了
    %h2 本站原始碼
    %div
      %p.lead
        %a{:href => "https://github.com/festime/NCKU-select-course-helper"} NCKU-select-course-helper
