.container
  .well
    %h2 自我介紹
    %p.lead
      我是 Yulin Chen ，因為對本科系沒興趣，後來就開始到資訊系修課、學程式設計，
      起初什麼都不懂，過了一陣子認知到程式和電腦科學非常廣，思考自己想走什麼路，
      想到之前選課時對學校的課程查詢網站一直覺得 OOXX ，心想何不嘗試改善它呢？
      這問題沒想像中容易，至少不是一個外行人摸個幾天就能做出來的，
      所以最近半年多我主要聚焦在學習 web programming 和 Rails ，
      成大選課小幫手算是一個學習成果吧
    %h3 我的 github
    %p.lead
      %a{:href => 'https://github.com/festime'} 我的 github
      ，歡迎互相交流
