.container
  .well
    %h2 建議或回報問題
    %p.lead
      對「成大選課小幫手」有任何建議，或是發現 bug ，可以
      %a{:href => "https://www.facebook.com/yulin.sky.5"}直接聯繫我
      ，因為現在在當兵，可能無法馬上回覆
    %p.lead
      或者是您有能力解決 bug 或新增功能，也絕對歡迎發 pull request 給我！
