.intro-header
  .container
    .row
      .jumbotron
        %h1 成大選課小幫手
        %p 覺得學校課程系統找課不夠方便嗎？試試看選課小幫手吧！
        %p 讓你輕鬆找到空堂有什麼課
        = link_to "開始使用", setting_path, class: "btn btn-success btn-lg"
