.container
  .well
    %div
      %p.lead
        這裡列出一些對選課有用的連結，方便大家使用
      %ul
        %li
          %a{:href => 'http://course.ncku.edu.tw/course/'} 成大選課系統
        %li
          %a{:href => 'http://class-qry.acad.ncku.edu.tw/qry/'} 成大課程查詢系統
        %li
          %a{:href => 'http://cge.ncku.edu.tw/files/11-1024-13439.php'} 成大各系通識規定
        %li
          %a{:href => 'http://140.116.165.64/grachk/index.php'} 成大畢業預審系統
        %li
          %a{:href => 'https://www.facebook.com/groups/637099219647956/'} 成大選課懂ㄘ 懂ㄘ 社團
