// "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
@import "bootstrap-sprockets";
@import "bootstrap";

.navbar {
  margin-bottom: 15px;
}

.footer {
  background-color: #f5f5f5;
  height: 45px;
  position: absolute;
  width: 100%;
}

.scroll-top {
  position: fixed;
  bottom: 50%;
  right: 0%;
  z-index: 100;
  font-size: 16px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  /*background: #ffcc33;*/
}

.glyphicon-remove {
  color: red;
}

.glyphicon-plus {
  color: #337ab7;
}
